/* General Settings Begin */
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    font-family: Helvetica, sans-serif;
    /* background-color: black; */
}

section{
    overflow: hidden;
}
/* General Settings End */
/* Nav Bar Begins */
#logo{
    width: 2.4em;
    
}
#my-nav{
    padding: 0;
    margin: 0;
    background-color: #580248de;
    /* background-color: black !important; */
}
/* Nav Bar Ends */
/* Header Begins */
.full-window{
    width: 100%;
    height: 75vh;
}
header{
    position: relative;
    z-index: 2;
}
header::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url("../images/header_bg_img.jpg"); 
    background-position: center; 
    background-size:cover; 
    opacity: 0.7;
    z-index: -1;
}
.header-btn:hover{
    background-color:#0d6efd !important;
}
/* Header Ends */
#middle
{
    height: 50%;
    width: 100%;
    background: black;
    clear:none;
}

.btn-secondary
{
    background: #580248;
    width: 30%;
    margin: 1.5%;
}

.btn-secondary:hover
{
    color: #580248;
    background: white;
    border: 2px solid #580248;
    
}

#v_r
{
    height: auto;
    float: right;
    clear: none;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    text-align: center;
}

#img1
{
    width: 60%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6%;
    float: left;
}

#t-head
{
    width: 95%;
    height: 10%;
    clear: both;
    padding: 1%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin-bottom: 5%;
    margin-left: 2.5%;
}

#team
{
    clear: both;
}

#gallery {

    border: 1px solid #ccc;
    margin-left: 8%;
    float: left;
    width: 22%;
    padding: 0px;
    padding: 0px;
  }
  
  #gallery:hover {
    border: 1px solid #777;
  }
  
  #gallery img {
    
    width: 100%;
    height: auto;
  }
  
  .desc {
                       
    text-align: center;
  }

  /* Servicers sytle */
  #services h2
  {
      margin-top: 2%;
  }

  .row1
  {
      margin-top: 2%;
      margin-bottom: 2%;
  }

  ol
  {
      list-style-type: none;
      margin: 0%;
      padding: 0%;
  }

  #heads
  {

      color: white;
      text-align: center;
      background: #580248;
      margin-bottom: 11%;
      width: 55%;
  }

  .row1 ol li
  {
        font-size: 25px;
  }

  #heads2
  {
      width: 55%;
      color: white;
      background: #580248;
      text-align: center;
      padding-left: 2%;
      padding-right: 2%;;
    }

  #service-text
  {
    float: left;
    text-align: left;
    width: 30%;
    margin-top: 1%;
  }

  #service-text2
  {
    float: right;
    clear: none;
    padding-left: 3%;
    text-align: left;
    margin-left: 2.5%;
    margin-top: 1%; 
    width: 30%;
    
  }

  #service-text3
  {
    float: left;
    text-align: left;
    width: 30%;
    margin-top: 1%;
  }

  #service-text4
  {
    float: right;
    clear: none;
    padding-left: 3%;
    text-align: left;
    margin-left: 2.5%;
    margin-top: 1%; 
    width: 30%;
  }

  #ser-img1
  {
      float: right;
      clear: none;
      margin-left: 1%;
      margin-top: 1%;
  }


  #ser-img2
  {
      float: left;  
      margin-top: 1%;
  }

  #ser-img3
  {
    float: right;
    clear: none;
    margin-left: 1%;
    margin-top: 1%;
  }

  #ser-img4
  {
    float: left;  
    margin-top: 1%;
     
  }

  #box4
  {
      margin-bottom: 5%;
  }




  /* end-Servicers sytle */

  /* Subscription Section Begins */
  #subscription{
      position:relative;
  }
  #sub-cards{
      position: relative;
      background-image: url("/images/service2.png");
      background-repeat: no-repeat;
      background-position:center;
      background-size:cover;
      flex-direction: row;
  }
  .sub-card{
      /* background-color: transparent; */
      opacity: 0.8;
  }
  .sub-card:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #fff;
    opacity: 0.7;
    z-index: -1;
  }
  .card-body{
      position: relative;
      background-color: transparent;
      /* opacity: 0.7; */
  }
  .sub-title{
      color: #580248;
  }
  .sub-title::after{
      content: '';
      position: absolute;
      top: 25%;
      left: -30%;
      width: 160%;
      background-color: #580248;
      height: 2px;
      
  }
  .sub-btn{
      background-color: #580248 !important;
      color: #fff !important;
  }
  .sub-btn:hover{
    background-color: #fff !important;
    color: #580248!important;
}
  /* Subscription Section Ends */

  /* Contact Section Start*/

.contact-icon{
    width: 6em;
    height: 6em;
}

.font-weight-bold{
    font-weight: bold;
}
#contact-btn{
    background-color: #580248;
    color: #fff;
}
#contact-btn:hover{
    background-color: #fff;
    color:  #580248;
    border: 1px solid #580248;
}
  /* Contact Section Ends */
  
  
 #sign-up{

    background-color:#580248;
    height:430px;
 }
 .s-upcontainter, h1{

    text-align:center;

    color:white;
    text-transform:uppercase;
    font-weight:bold;
    font-size:40px;
 }
 .form-control3{

    position:relative;
    right:-570px;
    width:320px;
    height:46px;
    border-radius:0;
 }
 #p-inp{

    position:relative;
    right:-178%;
    border-radius: 0;
    top:30px;
 }
 #pword{

    padding:0;
    margin:0;
    position:relative;
    bottom:-30px;
 }

 #pword::placeholder{

    position:relative;
    right:10px;
 }
 .form-control3::placeholder{

    font-size:20px;
    position:relative;
    right:-10px;
    top:-1px;
 } 
 #form-paragraph{

    text-transform: none;
    font-size:20px;
    position:relative;
    bottom:-60px;
    right:-560px;
 }
 .form-control3{
     font-size:20px;
 }
 #createacc{
    text-transform: none;
    font-size:20px;
    position:relative;
    bottom:-80px;
    text-decoration:underline;
    right:-560px;
   

 }
 #s-heading{

    padding-top:23px;
 }
 
 #sign-up{

    position:relative;
    bottom:-100px;
 }
.btn-class{

    border:white;
    font-size:20px;
    height:50px;
    width:90px;
    color:#580248;
    position:relative;
    right:-560px;
    bottom:-50px;
 }
 /* Article Section Start */
 #articles{
     margin-top: 10em;
 }
 #article-cards{
     flex-direction: row;
 }
 .article-card{
    width: 20em;
    /* To Fix the problem with the ancour tag turning the text blue */
    color: #000;    
    /* text-decoration: none !important; */
 }
 .article-card .card-body{
     border-right: 0.001em solid #000;
     border-left: 0.001em solid #000;
     border-bottom: 0.001em solid #000;
     padding: none !important;
 }
 .article_img{
    width: 20em;
    height: 12em;
    /* opacity: 1;  */
 }
 .article_date_text{
    font-size: 0.7em !important; 
    font-weight: 600;
 }
 .article_small_icons{
     width: 1rem;
     display: inline-block !important;
 }
 .article_card_text{
     font-weight: 600;
 }

 .article_footer:before{
    content: '';
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 160%;
    background-color: #580248;
    height: 0.2rem;
 }
 /* Footer Of Article Section Begins*/

.article_logo{
    width: 100%;
}


 /* Footer Of Article Section Ends */

 /* Article Section End */
 #section1  {

    background-color:#580248;
    position:relative;
    top:150px;
    height:620px;
 }
 #img1{

    height:45px;
    width:45px;
    position:relative;
    left:-54px;
 }

 #img2{

    height:55px;
    width:55px;
    position:relative;
    right:-540px;
    bottom:-40px;

    
 }

 #img3{

    height:55px;
    width:55px;
    position:relative;
    right:-66%;
    bottom:-30px;

    
 }

 #img4{

    height:60px;
    width:60px;
    position:relative;
    right:-18%;
    top:-120px;
 }
.horizontal-rule{

    position:relative !important;
    top:-500px !important;
    width:100% !important;
    right:1px !important;
    height:2px!important;
    opacity: unset;
    
}

 

 #img5{

    height:26px;
    width:40px;
    position:relative;
    right:-1100px;
    top:-600px;
 }

 #img6{

    height:50px;
    width:50px;
    position:relative;
    right:-20px;
    top:-470px;
 }
 .both{
     position:relative;
     right:-1220px;
     bottom:190px;
     color:white;

 }
 #time-para{
     position:relative;
     top:2%;
 }
 .copyright{

    position:relative!important;
    top:-520px!important;
    font-size:18px!important;
    padding:0;
    margin:0;
 }
    
    
 
 #call-para{

    color:white;
    position:relative;
    bottom:10px;
    left:-38px;
    font-size:18px;
 }
 #phone-para{

    color:white;
    position:relative;
    bottom:30px;
    left:-38px;
    font-size:18px;
    
 }

 #email-para,#emai-para{
     color:white;
     position:relative;
     bottom:100px;
     left:749px;
     font-size:18px;
 }

 .info{
     top:-120px;
     
 }
 #company{

    color:white;
    position:relative;
    right:-35px;
    top:-150px;
    font-size:25px;
 }
 #page-link{

    color:white;
    position:relative;
    right:-47%;
    top:-400px;
    font-size:25px;
    list-style-type:none;
    line-height:45px;
    
}
#newsletter{

    color:white;
    position:relative;
    right:-80%;
    top:-630px;
    font-size:25px;
    position:relative;
    top:-640px;
}

.newsletter-para{

    font-size:18px !important;
    margin:0px!important;
    padding:0px!important;
    
    
}
.input-box{

    position:relative;
    right:-80%;
    top:-600px;
    height:50px;
    width:250px;
}
.input-box::placeholder{

    position:relative;
    right:-20px;
}

.link2{
    font-size:18px !important;
    position:relative;
    left:644px;
}
 #lorem{
     color:white;
     position:relative;
     right:-35px;
     padding:0px;
     margin:0px;
     top:-148px;
 }
 .footer-address{

    
     color:white;
     position:relative;
     right:-95px;
     padding:0px;
     margin:0px;
     top:-170px;
 }
 


/* .my-nav{ */
    /* display: inline-block;;
    width: 20em;
    text-align: right; */
    /* margin-left: 20em; */
    /* position: relative; */
    /* right: 0; */
/* } */

@media(max-width: 576px){
    #header-text{
        width: 100% !important;
    }
    #sub-cards{
        flex-direction: column;
    }
    /* Article Section Responsive Styles Begins */
    #article-cards{
        flex-direction: column;
    }
    .article_logo{
        width: 25%;
    }
    .article_footer:before{
        bottom: 38%;
    }
    /* Article Section Responsive Styles Ends */
}